
.buttonAjoutArchive {
    background: coral;
    padding: 1em 2em;
    color: #fff;
}

    .buttonAjoutArchive:hover {
        background: #333;
    }

.modalAjout {
    display: none;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0,0.5);
}

.modal-contenu {
    position: absolute;
    top: 200;
    display: block;
    /* left: 20px; */
    z-index: 4000;
    border-radius: 30px;
    /* border-top-left-radius: 70px; */
    /* border-bottom-right-radius: 70px; */
    background-color: #0B0C10;
    color: #fff;
    /* z-index: 80000; */
    font-weight: bold;
    border: 3px inset #5CDB95;
    margin: 7% 34%;
    padding: 20px;
    width: 30%;
    height: auto;
    /* box-shadow: 0 5px 8px rgba(0, 0, 0,0.2), 0 7px 20px 0 rgba(0, 0, 0,0.17); */
    animation-name: modalopen;
    animation-duration: 1s;
    display: block;
}

.closeBtnAjout {
    color: #ccc;
    float: right;
    font-size: 30px;
    margin-left: 12px;
}

    .closeBtnAjout:hover, .closeBtnAjout:focus {
        color: #333;
        text-decoration: none;
        cursor: pointer;
    }

.titreArchive {
    text-align: center;
    width: 100%;
    float: left;
    height: 50px;
    margin-bottom: 20px;
}

.titreAr {
    text-align: center;
    font-size: 35px;
    color: #262626;
    text-transform: uppercase;
}

.arch {
    color: #00b36b;
}

.pdfViewC {
    width: 70%;
    float: left;
    border-radius: 10px;
    border: 1px solid #00b36b;
    box-sizing: border-box;
}

.infosArchives {
    width: 100%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
}

.infos {
    color: #66FCF1;
    font-size: x-large;
    border-bottom: 4px solid white;
}

@keyframes modalopen {
    fromn {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
