
.listArchives {
}

.active {
    right: 0px;
}

.comble {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    right: 370px;
}

.comble1 {
    position: absolute;
    top: 550px;
    height: 100%;
    right: 0px;
    width: 370px;
}

.comble2 {
    position: absolute;
    top: 50px;
    height: 100%;
    right: 0px;
    width: 20px;
}

.comble3 {
    position: absolute;
    top: 0px;
    height: 50px;
    right: 0px;
    width: 370px;
}


.calendrier {
    width: 72%;
    float: right;
    height: 425px;
    overflow: hidden;
    border: 2px solid #66FCF1;
    background-color: #0B0C10;
    margin: 10px;
    box-shadow: 0px 0px 15px 3px rgb(17, 33, 63);
    border-radius: 30px;
}

.annee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 20px;
    float: left;
    text-align: center;
    background-color: #0B0C10;
    /* color: white; */
    padding: 40px 30px;
    box-sizing: border-box;
    border-radius: 30px 0px 0px 0px;
}

.date_str {
    margin: 0;
}

.mois {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    float: left;
    height: 20px;
    text-align: center;
    background-color: #0B0C10;
    color: #66FCF1;
    padding: 40px 30px;
    box-sizing: border-box;
    border-radius: 0px 30px 0px 0px;
}

.semaine {
    display: flex;
    background-color: #0B0C10;
    color: #66FCF1;
    padding: 7px 0;
    float: left;
    width: 100%;
}

    .semaine div {
        width: 100%;
        text-align: center;
    }

.jour {
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    padding: 10px 0;
    float: left;
    color: #66FCF1;
    width: 100%;
}

    .jour div {
        text-align: center;
        width: 14.28%;
        margin-bottom: 10px;
        padding: 10px 0;
        transition: all 0.4s ease;
        /* color: #66FCF1; */
    }

        .jour div:hover {
            cursor: pointer;
            background: #66FCF1;
            color: #0B0C10;
        }

.today {
    background-color: #fff;
    color: #0B0C10;
}

.prev_date {
    color: rgb(184, 180, 180);
    color: #1F2833;
}

#mois {
    font-size: 30px;
    font-weight: 500;
}

.prev,
.next,
.prevAnnee,
.nextAnnee {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: all 0.4s;
}

    .prev:hover,
    .next:hover,
    .prevAnnee:hover,
    .nextAnnee:hover {
        background-color: rgb(0, 0, 0, 0.2);
        cursor: pointer;
    }

/* style du model :(popup)  */

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 63px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0,0.5);
}

.modal-content {
    background-color: #0B0C10;
    margin: 1% 25%;
    border-radius: 30px;
    padding: 20px;
    border-top: 2px solid #66FCF1;
    border-bottom: 2px solid #66FCF1;
    border-left: 2px solid #66FCF1;
    width: 50%;
    float: left;
    height: 75%;
    /* min-height: 80%; */
    box-shadow: 0 5px 8px rgba(0, 0, 0,0.2), 0 7px 20px 0 rgba(0, 0, 0,0.17);
    animation-name: modalopen;
    animation-duration: 10s;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
}

    .modal-content .section {
        float: left;
        border: 1px solid white;
        height: 400px;
        width: 33%;
        margin: 0;
    }

.headModal {
    width: 100%;
    min-height: 30px;
    float: left;
}

.closeBtn {
    color: #66FCF1;
    float: right;
    font-size: 30px;
    margin-left: 12px;
}

    .closeBtn:hover, .closeBtn:focus {
        color: #333;
        text-decoration: none;
        cursor: pointer;
    }

.listArchives {
    height: auto;
    width: 100%;
}

.addedToday {
    color: cyan;
}

.archive {
    width: 100%;
    display: block;
    height: 160px;
    float: left;
    border-bottom: 3px solid #5CDB95;
}

.photoAr {
    width: 20%;
    height: 70%;
    margin-top: 30px;
    border: 2px solid #66FCF1;
    border-radius: 50%;
    float: left;
    padding: 3px;
    overflow: hidden;
}

.photoArImg {
    height: 100%;
    border-radius: 50%;
    width: 100%;
}

.descripAr {
    width: 70%;
    height: 100%;
    float: left;
}

.btnsAr {
    width: 9%;
    height: 100%;
    float: left;
    position: relative;
    display: block;
}

    .btnsAr a {
        width: 100%;
        height: 50%;
        float: left;
        padding: 20px;
    }

.fas {
    transform: scale(3,3);
    margin-right: 20px;
}

h1 {
    color: #66FCF1;
    font-family: Merriweather,monospace;
    font-size: 20px;
}


h2 {
    color: #66FCF1;
    font-family: Merriweather,monospace;
    font-size: 20px;
}


span {
    color: #5CDB95;
    font-family: Merriweather,monospace;
    font-size: 20px;
}

table {
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
    border-collapse: collapse;
    height: 90%;
    background: #0B0C10;
}
/* Zebra striping */
tr:nth-of-type(odd) {
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    margin: 2px;
    padding: 12px;
    height: 33%;
    text-align: left;
    color: #66FCF1;
    font-family: Merriweather,monospace;
}

a {
    text-decoration: none;
    color: #66FCF1;
    padding: 2px;
}

.separator {
    width: 4px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
	Label the data
	*/
        td:nth-of-type(1):before {
            content: "First Name";
        }

        td:nth-of-type(2):before {
            content: "Last Name";
        }

        td:nth-of-type(3):before {
            content: "Job Title";
        }

        td:nth-of-type(4):before {
            content: "Favorite Color";
        }

        td:nth-of-type(5):before {
            content: "Wars of Trek?";
        }

        td:nth-of-type(6):before {
            content: "Secret Alias";
        }

        td:nth-of-type(7):before {
            content: "Date of Birth";
        }

        td:nth-of-type(8):before {
            content: "Dream Vacation City";
        }

        td:nth-of-type(9):before {
            content: "GPA";
        }

        td:nth-of-type(10):before {
            content: "Arbitrary Data";
        }
}

#fasRecherche {
    transform: scale(0.9,0.9);
    float: right;
    padding: 4px;
    color: #66FCF1;
}

@keyframes modalopen {
    fromn {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
