html,body{
    margin:0px;
   overflow:hidden ;
    font-family: "lato","sans-serif";
}

#head1{
    display: block;
    background-color: #000000;
    width: 100%;
    height:50px ;

}

#menu{
    width: 100%;
    height: 50px;
    position: relative;
    background-color:	#404040 ;
    margin-top: 0px;
}

#menu ul{
    float: left;
    margin-left: 70%;
    padding: 10px;
    
}

#menu ul li{
    margin-left: 20px;
    float: left;
    list-style-type: none;
}

#menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;

}

.cercle {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #010127;
    margin-left: 95%;
    top: 3px;
}
.annonce{
    position: absolute;
    height: 450px;
    width: 350px;
    background-color: #0d0d0d;
    right: -370px;
    margin-right: 20px;
}
.msg{
    background-color: #1a1a1a;
    height: 70px;
    width: 310px;
    margin-left: 20px;
    margin-top: 10px;
}
.active{
    right: 0px;
}
.comble{
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    right: 370px;
}

.comble1{
    position: absolute;
    top:550px;
    height: 100%;
    right: 0px;
    width: 370px;
}

.comble2{
    position: absolute;
    top:50px;
    height: 100%;
    right: 0px;
    width: 20px;
}

.comble3{
    position: absolute;
    top:0px;
    height: 50px;
    right: 0px;
    width: 370px;
}

*{
    margin: 0px;
    box-sizing: border-box;
}

.calendrier{
    width: 600px;
    background-color: #fff;
    margin-left: 150px;
    margin-top: 150px;
    box-shadow: 0px 0px 15px 3px rgb(17, 33, 63);
}

.annee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #27ae60;
    color: #fff;
    padding: 40px 30px;
}

.mois{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #2ecc71;
    color: #fff;
    padding: 40px 30px;
}

.semaine{
    display: flex;
    background-color:#27ae60 ;
    color: #fff;
    padding: 7px 0;
}

.semaine div{
    width: 100%;
    text-align: center;
}

.jour{
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    padding: 10px 0;
}
.jour div{
    text-align: center;
    width: 14.28%;
    margin-bottom: 10px;
    padding:10px 0 ;
    transition: all 0.4s ease;
}

.jour div:hover{
    background-color: #dfe6e9;
    cursor: pointer;
}

.today{
    background-color: #27ae60;
    color: #fff;
}

.prev_date{
    color: rgb(184, 180, 180);
}

#mois{
    font-size: 30px;
    font-weight: 500;
}

.prev,
.next,
.prevAnnee,
.nextAnnee{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: all 0.4s;
}

.prev:hover,
.next:hover,
.prevAnnee:hover,
.nextAnnee:hover{
background-color: rgb(0, 0, 0, 0.2);
cursor: pointer;
}

/* style du model :(popup)  */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0,0.5);
}

.modal-content {
    background-color: hsl(286, 28%, 12%);
    margin: 5% auto;
    padding: 20px;
    width: 50%;
    min-height:80%;
    box-shadow: 0 5px 8px rgba(0, 0, 0,0.2), 0 7px 20px 0 rgba(0, 0, 0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    display: block;
}

    .modal-content .section {
        float: left;
        border: 1px solid white;
        height: 400px;
        width: 33%;
        margin: 0;
    }

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
    margin-left: 12px;
}

    .closeBtn:hover, .closeBtn:focus {
        color: #333;
        text-decoration: none;
        cursor: pointer;
    }

.uploadContainer {
    height: 150px;
    width: 100%;
    align-content: center;
    float: left;
    margin: 30px;
}

.uploadSec {
    margin-left: 40px;
    width: 90%;
    height: 90%;
    background-color: aqua;
}

.addedToday {
    color: cyan;
}
.archive{
    width:100%;
    border: 2px solid black;
    display:block;
    height:160px;
}
.photoAr{
    width:20%;
    height:100%;
    border:2px solid black;
    float:left;

}
.photoArImg{
    
    height:90%;
    padding:5px;
}
.descripAr {
    width: 70%;
    height: 100%;
    float:left;
}
.btnsAr{
    width:10%;
    height:100%;
    float:left;
    position:relative;
    display:block;
}
.btnsAr a{
    width:100%;
    height:50%;
    float:left;
    padding:20px;
}
.fas{
    transform: scale(3,3);
}
h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size:20px;
}


h2 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
}


span {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    height:90%;
}
/* Zebra striping */
tr:nth-of-type(odd) {
   
}

th {
    background: #333;
    color: white;
    font-weight: bold;

}

td, th {
    margin:2px;
    padding: 12px;
    height:33%;
    text-align: left;
    color:white;

}
a{
    text-decoration:none;
    color:white;
    padding:2px;
}
.separator{
    width:4px;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
	Label the data
	*/
        td:nth-of-type(1):before {
            content: "First Name";
        }

        td:nth-of-type(2):before {
            content: "Last Name";
        }

        td:nth-of-type(3):before {
            content: "Job Title";
        }

        td:nth-of-type(4):before {
            content: "Favorite Color";
        }

        td:nth-of-type(5):before {
            content: "Wars of Trek?";
        }

        td:nth-of-type(6):before {
            content: "Secret Alias";
        }

        td:nth-of-type(7):before {
            content: "Date of Birth";
        }

        td:nth-of-type(8):before {
            content: "Dream Vacation City";
        }

        td:nth-of-type(9):before {
            content: "GPA";
        }

        td:nth-of-type(10):before {
            content: "Arbitrary Data";
        }
}
@keyframes modalopen {
    fromn {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
