
.box {
    position: absolute;
    top: 10px;
    /* left: -40px; */
    right: 9%;
    float: right;
    margin-left: 40px;
    z-index: 100;
}

.notifications {
    width: 60px;
    margin-top: 10px;
    border-radius: 30px;
    text-align: center;
}

    .notifications:hover {
        width: 300px;
        height: 90px;
        text-align: left;
        margin-top: 30px;
        padding: 0 15px;
        background: #66FCF1;
        /*transform: translateY(-100%);*/
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .notifications .fas {
        color: #66FCF1;
        line-height: 10px;
        font-size: 11px;
    }

    .notifications:hover .fas {
        line-height: 54px;
        color: #0B0C10;
        /* top: 35px; */
    }

    .notifications .num {
        position: absolute;
        top: -6px;
        right: 5px;
        width: 25px;
        /* height: 20px; */
        border-radius: 50%;
        background: orangered;
        color: #66FCD5;
        line-height: 25px;
        font-family: sans-serif;
        text-align: center;
    }

    .notifications:hover .num {
        position: relative;
        background: transparent;
        color: #0B0C10;
        font-size: 24px;
        top: 0px;
    }

        .notifications:hover .num::after {
            content: ' Notification';
            color: #66FCF1;
        }

    .notifications ul {
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        left: 0;
        top: 84px;
        margin: 0;
        width: 100%;
        max-height: 250px;
        background: #0B0C10;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        padding: 20px;
        box-sizing: border-box;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        display: none;
    }

    .notifications:hover ul {
        display: block;
    }

    .notifications ul li {
        list-style: none;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        padding: 8px 0;
        display: flex;
        padding: 20px;
        border-bottom: 2px solid #5CDB95;
    }

        .notifications ul li:last-child {
            border-bottom: none;
        }

        .notifications ul li .iconeu {
            width: 24PX;
            height: 24px;
            background: green;
            border-radius: 50%;
            text-align: center;
            line-height: 24px;
            margin-right: 15px;
        }

        .notifications ul li .iconenonVu {
            width: 24PX;
            height: 24px;
            background: red;
            border-radius: 50%;
            text-align: center;
            line-height: 24px;
            margin-right: 15px;
        }

        .notifications ul li .iconeu .fas {
            color: #fff;
            font-size: 16px;
            line-height: 24px;
        }

        .notifications ul li .textNot {
            position: relative;
            font-family: sans-serif;
            top: 3px;
            cursor: pointer;
            /* border: 2px solid white; */
            /* height: 200px; */
            color: #66FCF1;
        }

        .notifications ul li:hover .textNot {
            /* font-weight: bold; */
            color: #fff;
        }
