* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive;
    background: #fff;
}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 25px;
    /* border: 1px solid #aaa; */
    /* border-radius: 5px; */
    /* background-color: #fff; */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), to(#f4f4f4)); */
    /* background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%); */
    /* background-clip: padding-box; */
    /* -webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1); */
    /* box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1); */
    /* color: #444; */
    /* text-decoration: none; */
    white-space: nowrap;
    line-height: 24px;
}

nav {
    position: relative;
    float: left;
    width: 100%;
    background: #0B0C10;
}

ul {
    list-style-type: none;
}

nav ul li a {
    color: #66FCF1;
}

a:hover {
    text-decoration: underline;
}

.menu li {
    font-size: 20px;
    padding: 15px;
    font-family: 'Lobster', cursive;
}

    .menu li a {
        display: block;
    }

.logo a {
    font-size: 20px;
    padding-left: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}
/* mobile menu*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

    .item.active {
        display: block;
    }

.toggle {
    cursor: pointer;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
    padding-right: 10px;
}

    .bars::before, .bars::after {
        background: #999;
        content: "";
        display: inline-block;
        height: 2px;
        position: absolute;
        width: 18px;
    }

    .bars::before {
        top: 5px;
    }

    .bars::after {
        top: -5px;
    }

.profilEtudiant {
    background: #0B0C10;
    width: 250px;
    /* height: 300px; */
    margin: 4px 10px 10px 10px;
    float: right;
    /* margin-top: 100px; */
    border-radius: 30px;
}

.nomE {
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #66FCF1;
}

.filierE {
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #5CDB95;
}

.admi {
    padding-left: 75px;
    color: #66FCF1;
    font-size: 37px;
    /* padding-top: 5px; */
    /* padding-bottom: 28px; */
}

.email {
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #66FCF1;
}

.deconnecter {
    font-size: 24px;
    width: 200px;
    text-align: center;
    margin-left: 26px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #0B0C10;
    font-family: 'Lobster', cursive;
    border-radius: 20px;
    background: #66FCF1;
    border: none;
    height: 35px;
}

    .deconnecter a {
        text-decoration: none;
        color: #5CDB95;
    }

.imageE {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 36%;
    padding-top: 11px;
    padding-bottom: 15px;
}

.closeBtnDeconnecte {
    color: #05386B;
    float: right;
    font-size: 44px;
    /* margin-left: 12px; */
    margin-right: 10px;
}

    .closeBtnDeconnecte:hover, .closeBtnDeconnecte:focus {
        color: #333;
        text-decoration: none;
        cursor: pointer;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0,0.5);
}


/*Table menu*/
@media all and (min-width:468px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .button.secondary {
        border: 0;
    }

    .button a {
        text-decoration: none;
        padding: 7px 15px;
        background: #ff6666;
        border: 1px solid #66FCF1;
        border-radius: 50em;
    }

    .button.secondary a {
        background: transparent;
    }

    .button a:hover {
        transition: all .25s;
    }

    .button:not(.secondary) a:hover {
        background: #ff4d4d;
        border-color: #ff6666;
    }

    .button.secondary a:hover {
        color: #ddd;
    }
}



@media all and (min-width:768px) {
    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

        .menu li.button {
            padding-right: 0;
        }
}
